<h1>Sign In / Sign Up as Admin</h1>
<p>Add new arrived books to Database</p>

<div class="d-flex gap-4">
  <% if !Current.user%>
    <%= button_to "Sign In", signIn_path, method: :get%>
    <%= button_to "Sign Up", signUp_path, method: :get%>
  <%end%>
</div>

<div class="mt-4">
  <h3>Available books</h3>
</div>
<div class="p-3 mb-4 mt-3">
  <% @books.each do |book|%>
    <li class ="d-flex gap-3 p-3 shadow ">
        <div class="fs-5 text-primary me-2">
          <%= book.title%>
        </div>
        <div >By
          <span class="fs-5 text-danger me-2">
          <%= book.author%></span>
        </div>
        <div>Part
          <span class="fs-5 text-info me-2 ms-1">
          <%= book.volume%></span>
        </div>
        <div >published in
          <span class="fs-5 text-danger me-5 ms-1">
          <%= book.published_in%></span>
        </div>
        <%if Current.user%>
          <div class="ms-auto">
            <div class="btn btn-warning"><%= link_to "Issue Book", issueBook_path(id: book.id)%></div>
            <div class="btn btn-success">Show Details </div>
        </div>
        <%end%>
    </li>
  <% end %>
</div>

<%if !Current.user%>
  <%= link_to "Add new Book", signIn_path, class:"nav-link btn"%>
<%end%>


