<h1 class="text-muted d-flex justify-content-center">Add Book Details</h1>
<%= form_with model: @book, url: add_book_path do |form| %>
  <% if @book.errors.any? %>
    <div class="alert alert-danger">
      <% @book.errors.full_messages.each do |message| %>
        <div><%= message%></div>
      <%end%>
    </div>
  <%end%>
  <div class="mb-3">
    <%= form.label :title, class:"mb-2"%>
    <%= form.text_field :title, class:"form-control", placeholder: "abc@gmail.com"%>
  </div>
  <div class="mb-3">
    <%= form.label :author, class:"mb-2"%>
    <%= form.text_field :author, class:"form-control", placeholder:"Author name"%>
  </div>

  <div class="mb-3">
    <%= form.label :volume, class:"mb-2"%>
    <%= form.text_field :volume, class:"form-control", placeholder:"Volume"%>
  </div>

  <div class="mb-3">
    <%= form.label :published_in, class:"mb-2"%>
    <%= form.text_field :published_in, class:"form-control", placeholder:"published date"%>
  </div>

  <div class="mb-3">
    <%= form.submit "Add Book", class:"btn btn-primary"%>
  </div>

<% end %>